  .container-fluid-modif{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding-bottom: 0.5%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0.5%;
    border-bottom: solid 1px rgb(145, 90, 86);
        .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-0.5 * var(--bs-gutter-x));
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            .col-8 {
                flex: 0 0 auto;
                width: 66.66666667%;
                    .col-4 {
                        /* flex: 0 0 auto; */
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        width: 33.33333333%;
                    }
              } 
        }
}
  
.container-fluid-dos{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    padding-top: 1% ;
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
            .row-cols-4 > * {
                flex: 0 0 auto;
                width: 25%;
        }
    }     
}

.col {
    flex: 1 0 0%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
        .imag {
            margin: 2%;
    }                               
}

