/*ESTILOS GENERALES*/
header{
    width: 100%;
    height: 10%;
    margin: 0%;
    padding: 1%;
    }

.imag {
    margin: 2%;
}

h1, h2,h3, h5 {
    padding: 1%;
}

    /******MENU******/
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(145, 90, 86);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    /******CUERPO******/
main {
    width: 100%;
    margin: 0%;
    padding: 2%;
}

article {
     width: 100%;
     text-align: center;
     margin: 1%;
}


            /*nosotros.html primera seccion*/
.div {
    width: 100%;
}

.div-uno {
    width: 100%;  
    height: 300px;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content:space-evenly;
}

            /*nosotros.html segunda seccion*/
.div-dos {
    width: 100%;  
    height: 350px;
    margin: 1%;
    padding: 1%;
    text-align: center; 
}

.grid-dos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;
    justify-content:center;
}

            /*servicios.html primera seccion*/

    /*para eliminar = .div-dos
    .div-tres {
    width: 100%;  
    height: 350px;
    margin: 1%;
    padding: 1%;
    text-align: center;
}
*/
.grid-tres {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content:space-evenly;
    justify-items: center;
}

            /*servicios.html segunda seccion*/
.div-servicios {
    margin: 1%;
    padding: 1%;
    text-align: center;
} 
 
/*para eliminar = .div-uno
.div-cuatro {
    width: 100%;  
    height: 300px;
    margin: 1%;
    padding: 1%;
    text-align: center;
}
*/

.grid-cuatro {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content:center;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}

            /*compañia.html*/
.div-logo {
    width: 100%;  
    height: 100px;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.caja-comodin {
    margin: 1%;
    padding: 1%;
}

    /******PIE DE PAGINA******/
footer {
    width: 100%;
    height: 280px;
    margin: 0%;
    padding: 2%;  
    font-style: oblique;
    font-size: small;    
}

.p {
    margin-top: 1%;
    padding-top: 1%;
    font-size: 11px;
    font-weight: bolder;
    border-top: solid 1px rgb(145, 90, 86);
}

/* ESTILOS ESPECIFICOS */

    /*Degradado del main*/
.main {
    background: linear-gradient(rgb(248, 245, 246), rgb(145, 90, 86), rgb(255, 255, 255));
}

    /* PARA ELIMINAR? Transicion de iconos de redes sociales
.redes {
    width: 4%;
    transition: all 1s;
  
}
.redes:hover {
    width: 8%;
}
*/

    /*PARA ELIMINAR? Animacion de texto quienes somos NOSTROS.HTML
.div-animacion {
    animation-name: texto;
    animation-duration: 3s; 
}

@keyframes texto {
    from {
        transform: translateX(1000px);
    }
    
    to {
        transform: translateX(0px);
    } 
}
*/

 /*Transicion de nuestro equipo*/
 .equipo {
    width: 80%;
    transition: all 1s;
  
}
.equipo:hover {
    width: 100%;
}

/* ESTILOS BOOTSTRAP MODIFICADOS*/
.container {
width: 100%;
justify-content: space-between;
}

.col-4 {
    /* flex: 0 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 33.33333333%;
}

.container-fluid-modif{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 1px rgb(145, 90, 86);
}

.container-fluid-dos{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding-top: 1% ;

}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  
  .col {
    flex: 1 0 0%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

