* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Italic.ttf);
}

/* RESPONSIVE html*/
/* MOBILE FIRST */
@media (max-width: 479px) {
    body {
        width: 100vw;
    }

    header{
        display: flex;
        background-color: white;
        margin: 1%;
        font-size: 14px;
        font-weight: bold;
        width: 100vw;    
    }

    /* imagen de portada */
    .imgPrincipal {
        margin: 1%;
        width: 100%;
        height: 50vw;
    }

    nav {
        display: block;
        text-align: center;
        width: 100%;
        }
    span {
        display: flex;
        width: 100%;
        height: 50px;
    }
    span a{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 0%;
        border-style: solid;
        border-color: #808B96;
        border-width: 5px 1px;
        padding: 20px 98px;
        background-color: #CCD1D1  ; 
        color: black;
        font-size: 20px;
        font-weight: bolder;    
        text-decoration: none;
    }

}

/* TABLET */
@media (min-width: 480px ) and (max-width: 1023px) {
    body{
        font-family: 'Roboto';
        width: 100vw;
    }
    header{
        background-color: white;
        margin: 1%;
        font-size: 14px;
        font-weight: bold;
        width: 100vw;    
    }
    
    /* imagen de portada */
    .imgPrincipal {
        margin: 1%;
        width: 100%;
        height: 50vw;
    }
    
    .header-primero {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    .header-segundo {
        text-align: right;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    /* menu */
    nav {
        text-align: center;
        width: 100%;
        height: 50px;
        }
    span {
        display: flex;
        width: 100%;
        height: 20px;
    }
    span a{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 0%;
        border-style: solid;
        border-color: #808B96;
        border-width: 5px 1px;
        padding: 20px;
        background-color: #CCD1D1  ; 
        color: black;
        font-size: 20px;
        font-weight: bolder;    
        text-decoration: none;
    }
    span a:hover{
        color: white    ;
        cursor: pointer;
    }
    
    main {
        display: flex;
        width: 100%;
    }
    
    section{
        display: flex;
        flex-direction: column;
        margin: 1%;
        width: 100%;
        text-align: center;
        background-color: #F4F6F6 ;
    }
    .section-Dos{
        display: flex;
        margin: 1%;
        width: 100%;
        height: 80%;
        text-align: center;
            ; 
    }
    h1 {
        text-align: center;
        font-size: 50px;
    }
    h3 {
        text-align: center;
        font-size: 30px;
    }
    h2{
        text-align: center;
        font-size: 40px;
        width: 100%;
    
    }
    article{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .cajaUno {
        display: inline-block;
        width: 75%;
        height: 10px;
        text-align: center;
    }
    li{
        display: inline-block;
        text-decoration: none;
        font-size: 0.9rem;
        padding: 10px;
        font-weight: 400;
    }
    footer{
        display: flex;
        width: 100%;
        height: 210px;
        background-color: white ;
    }
    .divPie{
        display: flex;
        width: 85%;
        padding: 20px 100px;
        background-color: white  ;
        font-size: 14px;
        font-weight: lighter;
        text-align: center;
    }
    a{
        margin-left: 1%;
    }
    
    .fin{
        background: #808B96; 
        text-align: left; 
        color: white; 
        font-size: 11px;
        width: 98%;
        padding: 1%;
    }
    
    .section-servicios {
        display: flex;
        width: 100%;
    }
    .servicios-uno {
        display: flex;
        width: 100%;
    }
    
    /* parrafos */
    .p {
        margin: 2%;
    }
    
    
    /* Flex Box */
    
    .header-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    
    }   
    .redes-flex{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        height: 50px;
    }
    .iconos-flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .menu-flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .ul-flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
    }
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    /* GRID */
    .grid-section {
        display: grid;
        grid-template-columns: 10% 20%;
        justify-content: space-between;
        align-content: center;
    }
    
    .grid-servicios {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 150px 150px ;
        justify-content: center;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
    }
    
    .grid-nosotros {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px; 
        grid-template-rows: 250px 250px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
    }
}

/* DESKTOP */
@media (min-width: 1024px){
body{
    font-family: 'Roboto';
    width: 100vw;
}
header{
    background-color: white;
    margin: 1%;
    font-size: 14px;
    font-weight: bold;
    width: 100vw;    
}

/* imagen de portada */
img {
    margin: 1%;
}

.header-primero {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.header-segundo {
    text-align: right;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

/* menu */
nav {
    text-align: center;
    width: 100%;
    height: 50px;
    }
span {
    display: flex;
    width: 100%;
    height: 20px;
}
span a{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0%;
    border-style: solid;
    border-color: #808B96;
    border-width: 5px 1px;
    padding: 20px 98px;
    background-color: #CCD1D1  ; 
    color: black;
    font-size: 20px;
    font-weight: bolder;    
    text-decoration: none;
}
span a:hover{
    color: white    ;
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 100%;
    text-align: center;
    background-color: #F4F6F6 ;
}
.section-Dos{
    display: flex;
    margin: 1%;
    width: 100%;
    height: 80%;
    text-align: center;
        ; 
}
h1 {
    text-align: center;
    font-size: 50px;
}
h3 {
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 40px;
    width: 100%;

}
article{
    margin-top: 2%;
    margin-bottom: 2%;
}
.cajaUno {
    display: inline-block;
    width: 75%;
    height: 10px;
    text-align: center;
}
li{
    display: inline-block;
    text-decoration: none;
	font-size: 0.9rem;
	padding: 10px;
	font-weight: 400;
}
footer{
    display: flex;
    width: 100%;
    height: 210px;
    background-color: white ;
}
.divPie{
    display: flex;
    width: 85%;
    padding: 20px 100px;
    background-color: white  ;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}
a{
    margin-left: 1%;
}

.fin{
    background: #808B96; 
    text-align: left; 
    color: white; 
    font-size: 11px;
    width: 98%;
    padding: 1%;
}

.section-servicios {
    display: flex;
    width: 100%;
}
.servicios-uno {
    display: flex;
    width: 100%;
}

/* parrafos */
.p {
    margin: 2%;
}


/* Flex Box */

.header-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}   
.redes-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;
}
.iconos-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.menu-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.ul-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}
.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* GRID */
.grid-section {
    display: grid;
    grid-template-columns: 10% 20%;
    justify-content: space-between;
    align-content: center;
}

.grid-servicios {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px ;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.grid-nosotros {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px; 
    grid-template-rows: 250px 250px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}


/* GRID AREA */
#grid-area {
    display: grid;
    grid-template-areas: 
        /* 5 columnas y 10 filas */
        arriba arriba arriba arriba arriba
        cabeza cabeza cabeza cabeza cabeza
        menu menu menu menu menu
        principal principal principal principal principal
        pie pie pie pie pie,

    }    
    

/* nombre de las areas */
#arriba {
    grid-area: arriba;
}
header {
    grid-area: cabeza;
}
nav {
    grid-area: menu;
}
#principal {
    grid-area: principal;
    display: inline-block;
}
footer {
    grid-area: pie;
}

}

